            .papa{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr  ;
                justify-items: stretch;
                gap: 15px;
            }

            .container{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 4px;
                margin-bottom: 25px;
            }

            .video-info{
                display: flex;
                flex-direction: row;
                margin-top: 20px;
            }

            .img{
                object-fit: cover;
                width: 100%;
                height: auto;
            }
            
            

            .profile-pic{
                border-radius: 50px;
                width: 55px;
                height: 55px;
                margin-right: 10px;
                background-color: gray;
            }

            .channel-name{
              color: rgb(130, 129, 129);
              font-size: 14px;
              margin-bottom: 4px;
            }

            .view-time{
                color: rgb(123, 121, 121);
                font-size: 15px;
                margin-top:4px;
                margin-bottom: 15px;
                width: 264px;
                height: 14.667px;
            }

            .vid-title{
                max-width: 350px;
                margin: 0;
                font-size: 18px;
                font-weight: 800;
                width: 100%;
            }