            .papa{
                display: grid;
                /* grid-template-columns: 1fr 1fr 1fr 1fr; */
                justify-items: stretch;
                gap: 12px;
                padding-top: 75px;
                padding-left: 85px;
                padding-right: 20px;
                padding-bottom: 8px;
            }

            @media (max-width: 750px) {
                .papa{
                    grid-template-columns: 1fr 1fr;
                }
            }

            @media (min-width: 751px) and (max-width: 999px) {
                .papa{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            @media (min-width: 1000px) {
                .papa{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }

            .container{
                box-sizing: border-box;
                padding: 4px;
                margin-bottom: 15px;
            }

            .video-info{
                display: flex;
                flex-direction: row;
                margin-top: 8px;
            }

            .img{
                object-fit: cover;
                width: 100%;
                height: auto;
                position: relative;
            }

            .profile-pic{
                border-radius: 17px;
                width: 35px;
                height: 35px;
                margin-right: 10px;
                background-color: gray;
            }

            .channel-name{
              color: rgb(77, 76, 76);
              font-size: 12px;
              margin-bottom: 4px;
            }

            .view-time{
                color: rgb(77, 77, 77);
                font-size: 12px;
                margin-top:4px;
                margin-bottom: 15px;
                height: 14.667px;
            }

            .vid-title{
                margin: 0;
                font-size: 14px;
                font-weight: 600;
            }

            .images{
                position: relative;
            }

            .timestamp{
                position: absolute;
                bottom: 11px;
                right: 6px;
                color: white;
                background-color: black;
                padding: 4px;
                border-radius: 4px;
                font-size: 12px;
                font-weight: 600;
                font-family: Arial ;
            }