            .papa{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                justify-items: stretch;
                gap: 12px;
                padding-top: 75px;
                padding-left: 100px;
                padding-right: 25px;
                padding-bottom: 8px;
            }

            .container{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 4px;
                margin-bottom: 15px;
            }

            .video-info{
                display: flex;
                flex-direction: row;
                margin-top: 8px;
            }

            .img{
                object-fit: cover;
                width: 100%;
                height: auto;
            }
            
            

            .profile-pic{
                border-radius: 17px;
                width: 35px;
                height: 35px;
                margin-right: 10px;
                background-color: gray;
            }

            .channel-name{
              color: rgb(77, 76, 76);
              font-size: 12px;
              margin-bottom: 4px;
            }

            .view-time{
                color: rgb(77, 77, 77);
                font-size: 12px;
                margin-top:4px;
                margin-bottom: 15px;
                width: 264px;
                height: 14.667px;
            }

            .vid-title{
                margin: 0;
                font-size: 14px;
                font-weight: 600;
            }